#MainAbout {
  display: flex;
  flex-direction: column;
  width: "100%";

  #AboutIntro {
    // flex-basis: auto;
    flex-basis: 400px;
    // background-color: green;
    padding: 20px 0px;
    display: flex;

    div#AboutImage {
      background: transparent;
      flex-basis: 40%;
      display: grid;
      position: relative;
      padding: 0 50px;
    }

    #Aboutdescription {
      background: transparent;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      div#AboutName {
        width: 100%;
        display: flex;
        // place-items: center;
        justify-content: space-between;

        h1 {
          font-size: 40pt;
          padding: 0;
          margin: 0 0 20px 0;
        }

        img {
          right: 0 !important;
        }
      }

      div#AboutInfoExpertise {
        flex-grow: 1;
        background-color: #4f4180;
        border-radius: 20px;
        padding: 15px 25px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  #AboutOthers {
    flex-grow: 1;
    margin-top: 80px;

    div.AboutContent {
      margin-bottom: 50px;
    }
  }
}

div.AboutTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span.AboutTitleLogo {
    background: #4f4180;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20pt;
  }

  span.AboutTitleDescription {
    font-weight: normal;
    font-size: 30pt;
  }
}

// Super Large Screen
@media (min-width: 991px) {
}

// Large Device / Web
@media (max-width: 1126px) and (min-width: 767px) {
  #AboutIntro {
    flex-direction: column !important;
  }

  #aboutProfileImage {
    display: none !important;
  }
}

@media (max-width: 1550px) {
  #aboutProfileImage {
    height: 250px !important;
    width: 250px !important;
  }
}

@media (max-width: 1350px) {
  #aboutProfileImage {
    height: 200px !important;
    width: 200px !important;
  }
}

@media (max-width: 1127px) {
  #aboutProfileImageCircle {
    display: block !important;
  }
}

// Medium Device / Tablet
@media (max-width: 768px) and (min-width: 577px) {
  #AboutIntro {
    flex-direction: column !important;
  }
}

// Small Device / Cellphone
@media (max-width: 578px) {
  #AboutIntro {
    flex-direction: column !important;
  }

  #aboutProfileImage {
    display: none !important;
  }

  #aboutProfileImageCircle {
    display: block !important;
  }
}

@media (max-width: 1080px) {
  .grid-col-6 {
    grid-column: span 12 !important;
  }

  #aboutProfileImage {
    display: none !important;
  }

  #aboutProfileImageCircle {
    display: block !important;
  }
}
