#MainAbout {
  display: flex;
  flex-direction: column;
  width: "100%";
}
#MainAbout #AboutIntro {
  flex-basis: 400px;
  padding: 20px 0px;
  display: flex;
}
#MainAbout #AboutIntro div#AboutImage {
  background: transparent;
  flex-basis: 40%;
  display: grid;
  position: relative;
  padding: 0 50px;
}
#MainAbout #AboutIntro #Aboutdescription {
  background: transparent;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#MainAbout #AboutIntro #Aboutdescription div#AboutName {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#MainAbout #AboutIntro #Aboutdescription div#AboutName h1 {
  font-size: 40pt;
  padding: 0;
  margin: 0 0 20px 0;
}
#MainAbout #AboutIntro #Aboutdescription div#AboutName img {
  right: 0 !important;
}
#MainAbout #AboutIntro #Aboutdescription div#AboutInfoExpertise {
  flex-grow: 1;
  background-color: #4f4180;
  border-radius: 20px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
}
#MainAbout #AboutOthers {
  flex-grow: 1;
  margin-top: 80px;
}
#MainAbout #AboutOthers div.AboutContent {
  margin-bottom: 50px;
}

div.AboutTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.AboutTitle span.AboutTitleLogo {
  background: #4f4180;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 20pt;
}
div.AboutTitle span.AboutTitleDescription {
  font-weight: normal;
  font-size: 30pt;
}

@media (max-width: 1126px) and (min-width: 767px) {
  #AboutIntro {
    flex-direction: column !important;
  }
  #aboutProfileImage {
    display: none !important;
  }
}
@media (max-width: 1550px) {
  #aboutProfileImage {
    height: 250px !important;
    width: 250px !important;
  }
}
@media (max-width: 1350px) {
  #aboutProfileImage {
    height: 200px !important;
    width: 200px !important;
  }
}
@media (max-width: 1127px) {
  #aboutProfileImageCircle {
    display: block !important;
  }
}
@media (max-width: 768px) and (min-width: 577px) {
  #AboutIntro {
    flex-direction: column !important;
  }
}
@media (max-width: 578px) {
  #AboutIntro {
    flex-direction: column !important;
  }
  #aboutProfileImage {
    display: none !important;
  }
  #aboutProfileImageCircle {
    display: block !important;
  }
  .AboutTitleLogo {
    font-size: 10pt !important;
  }
  .AboutTitleDescription {
    font-size: 20pt !important;
  }
}
@media (max-width: 1080px) {
  .grid-col-6 {
    grid-column: span 12 !important;
  }
  #aboutProfileImage {
    display: none !important;
  }
  #aboutProfileImageCircle {
    display: block !important;
  }
  #greetings,
  #AboutName {
    padding: 0px 10px !important;
  }
  #AboutInfoExpertise {
    padding: 0px !important;
  }
  #mediocoreTag {
    padding: 0px 10px !important;
    font-size: 13pt !important;
  }
  .AboutTitleDescription {
    font-size: 16pt !important;
  }
  .contact-icon {
    font-size: 20pt !important;
  }
  .contact-icon-email {
    font-size: 12pt !important;
  }
  #AboutName h1 {
    font-size: 30pt !important;
  }
}
@media (max-width: 325px) {
  .AboutTitleDescription {
    font-size: 16pt !important;
  }
  #greetings,
  #AboutName {
    padding: 0px 10px !important;
  }
  #AboutInfoExpertise {
    padding: 0px !important;
  }
  #mediocoreTag {
    padding: 0px 10px !important;
    font-size: 13pt !important;
  }
  .contact-icon {
    font-size: 20pt !important;
  }
  .contact-icon-email {
    font-size: 12pt !important;
  }
  #AboutName h1 {
    font-size: 30pt !important;
  }
}/*# sourceMappingURL=about.css.map */