
.specialtytitle {
font-size: 16pt !important;
}

.specialtyicon {
font-size: 46pt !important;
margin: "10px 0px";
margin-bottom: 20px;
}

// Super Large Screen
@media (min-width: 991px){

}


// Large Device / Web
@media (max-width: 992px) and (min-width: 767px){

}


// Medium Device / Tablet 
@media (max-width: 768px) and (min-width: 577px){


}


// Small Device / Cellphone 
@media (max-width: 578px){


}