

#WelcomeMessageMainDiv {

    div#greetings {
        width: "100%";
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 100px;
        h1 {
            font-size: 45pt;
        }

        span {
            font-size: 18pt;
        }
    }
}

.cardTitle {
    font-size: 12pt;
}

.recentItems {
    color: #37A2EA;
    cursor: pointer;
    margin: 10px 10px 0px 0px;

    .path {
        color: silver;
    }
}



// Super Large Screen
@media (min-width: 991px){

}


// Large Device / Web
@media (max-width: 992px) and (min-width: 767px){
    #greetings {
        h1 {
            font-size: 35pt !important;
        }
        span {
            font-size: 16pt !important;
        }
    }

    .grid-col-4 {
        grid-column: span 6 !important;
    }


}


// Medium Device / Tablet 
@media (max-width: 768px) and (min-width: 577px){

    #greetings {
        h1 {
            font-size: 30pt !important;
        }
        span {
            font-size: 14pt !important;
        }
    }

    .grid-col-4 {
        grid-column: span 12 !important;
    }

}


// Small Device / Cellphone 
@media (max-width: 578px){
    #greetings {
        h1 {
            font-size: 25pt !important;
        }
        span {
            font-size: 14pt !important;
        }
    }

    .grid-col-4 {
        grid-column: span 12 !important;
    }

}